version: '2'
services:
  database:
    container_name: database_server
    build:
      context: .
      dockerfile: Dockerfile_database
    image: database:tag
    expose:
      - "5432"
  web:
    container_name: web
    build:
      context: .
      dockerfile: Dockerfile_web
    image: imagem:tag
    depends_on:
      - "database"
    ports:
      - "8000:8000"
    links:
      - database
    

