{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<h1 style="padding-left: 20px">Solicitantes</h1>

<div style="padding: 20px" class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>CPF</th>
            <th></th>
            </tr>
        </thead>
    <tbody>
        {% for solicitante in object_list %}
        <tr>
            <td>{{ solicitante.id }}</td>
            <td>{{ solicitante.nome }}</td>
            <td>{{ solicitante.email }}</td>
            <td>{{ solicitante.telefone }}</td>
            <td>{{ solicitante.cpf }}</td>
            <td>
                <a class="btn btn-primary"
                    href='{% url "solicitante_edit" solicitante.id %}' >
                    <span class="glyphicon glyphicon-pencil"></span> Editar
                </a>
                <a class="btn btn-primary"
                    href='{% url "solicitante_delete" solicitante.id %}' >
                    <span class="glyphicon glyphicon-remove"></span> Apagar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

<a style="margin-left: 20px"
    class="btn btn-primary" href='{% url "solicitante_new" %}' >
    <span class="glyphicon glyphicon-plus"></span> Novo Solicitante
</a>