{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<form method="post">{% csrf_token %}
<div style="margin-top: 20px; border-radius: 20px" class="jumbotron container">
    <div class="container">
        <div class="row">
            <div class="col-xs-4"></div>
            <div style="text-align: center;" class="col-xs-4">
                <h2>Atenção!</h2>
                <p>Tem certeza que deseja deletar "{{ object }}" ?</p>
                <button type="submit" class="btn btn-danger">
                    {% bootstrap_icon "exclamation-sign" %} Deletar
                </button>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>
</div>
</form>
